<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
<rewrite>
<rules>
                <rule name="Fullsite" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^$" negate="false" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="fullsite=1" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Mobile Rewrite" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^$" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_USER_AGENT}" pattern="midp|mobile|phone" />
                        <add input="{HTTP_X-Device-User-Agent}" pattern="midp|mobile|phone" />
                        <add input="{HTTP_X-OperaMini-Phone-UA}" pattern="midp|mobile|phone" />
                    </conditions>
                    <action type="Redirect" url="https://maps.raleighnc.gov/parklocatormobile/comingsoon.html" appendQueryString="false" redirectType="Found" />
                </rule>
</rules>

</rewrite>
 </system.webServer>
</configuration>
